/* Denna regel ställer in typsnittet för alla rubriker (h1, h2, h3, h4, h5, h6) */
h1, h2, h3, h4, h5, h6 {
    /* Prioriterad ordning av typsnitt: */
    /* 1. Arial (om tillgängligt) */
    /* 2. Helvetica (om Arial inte finns) */
    /* 3. sans-serif (en generisk reserv om varken Arial eller Helvetica finns) */
    font-family: Arial, Helvetica, sans-serif;
}
/* Denna regel sätter typsnittet för all övrig text på webbsidan. */
/* Genom att applicera det på 'body'-elementet ärver de flesta andra element stilen. */
body {
    /* Prioriterad ordning av typsnitt: */
    /* 1. Candara (om tillgängligt) */
    /* 2. Verdana (om Candara inte finns) */
    /* 3. sans-serif (en generisk reserv om varken Candara eller Verdana finns) */
    font-family: Candara, Verdana, sans-serif;
}
/* Denna regel tillämpar stilen på elementet med class "Tabell1" */
.tabell1 {
    /* Anger bakgrundsfärgen till en ljusrosa nyans (#ffcccc) */
    background-color: #ffcccc;
}
/* Denna regel tillämpar stilen på elementet med class "Tabell2" */
.tabell2 {
    /* Anger bakgrundsfärgen till en ljusorange/persikonyans (#ffcc99) */
    background-color: #ffcc99;
}
/* --- Grön färg till texten längst ner --- */
/* Denna regel tillämpar stilen på 'footer'-elementet (sidfoten) */
footer {
    /* Anger textfärgen till mörkgrön (#009900) */
    color: #009900;
}


